.row .col {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
.modal-footer {
  text-align:center;
}
.modal-footer button {
  display:inline-block;
  margin:0 15px;
  float:none; /*if you set float already */
}