<h2 class="center">Gerenciar Cargos</h2>
<div class="container">
    <div class="row">

        <div class="input-field col l7">
            <select id="selecao_contrato"materialize="material_select" [materializeSelectOptions]="contratos" (change)="defineCodigoContrato($event.target.value)">
                <option disabled>Selecione um Contrato</option>
                <option *ngFor="let contrato of contratos" [value]="contrato.codigo">{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}</option>
            </select>
            <label for="selecao_contrato">Contrato<span class="red-text"> *</span></label>
        </div>
        <div class="input-field col s4">
            <select materialize="material_select" (change)="selecionaModo($event.target.value)">
                <option disabled>Selecione uma opção</option>
                <option value="ALOCAÇÃO">Alocar novo terceirizado</option>
                <option value="ALTERAÇÃO">Alteração de função</option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="terceirizados && modoOperacao">
        <div *ngIf="modoOperacao === 'ALOCAÇÃO'">
            <div class="center-align divider"></div>
            <br>
            <div class="center-align">
                <button class="btn waves-effect" (click)="adicionaGerenciar()">Adicionar Linha</button>
                <button class="btn waves-effect" (click)="removerGerenciar()" [disabled]="!(gerenciar.length > 1)">Remover Linha</button>
            </div>
            <br>
            <form [formGroup]="gerenciaForm">
                <div formArrayName="gerenciarTerceirizados">
                    <table class="centered highlight hoverable">
                        <thead>
                            <tr>
                                <th>Terceirizado</th>
                                <th>Função</th>
                                <th>Data de Início</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let formulario of gerenciar.controls; let i = index" [formGroupName]="i">
                                <td>
                                    <div class="input-field col">
                                        <select id="terceirizado_nao_alocado" materialize="material_select" [materializeSelectOptions]="terceirizados" formControlName="terceirizado">
                                            <option disabled>Selecione um Terceirizado</option>
                                            <option *ngFor="let terceirizado of terceirizados" [value]="terceirizado.codigo">{{terceirizado.nome}} - CPF: {{terceirizado.cpf | cpfPipe}}</option>
                                        </select>
                                        <label for="terceirizado_nao_alocado">Terceirizados Não Alocados</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field col">
                                        <select id="funcoes_contrato" materialize="material_select" [materializeSelectOptions]="funcoes" formControlName="funcao">
                                            <option disabled>Selecione um Terceirizado</option>
                                            <option *ngFor="let funcao of funcoes" [value]="funcao.codigo">{{funcao.nome}}</option>
                                        </select>
                                        <label for="funcoes_contrato">Funções do Contrato</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field col">
                                        <input id="data_inicio_funcao" formControlName="dataInicio" class="validate" type="text" appMaskDate required maxlength="10" minlength="10">
                                        <label for="data_inicio_funcao">Data de Início na Função</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <br>
            <div class="center-align">
                <button class="btn waves-effect" [disabled]="!gerenciaForm.valid" (click)="verificarFormulario()">Alocar</button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="listaCargosFuncionarios && modoOperacao">
        <div *ngIf="modoOperacao === 'ALTERAÇÃO'">
            <div class="center-align divider"></div>
            <br>
            <form>
                <div>
                    <table class="hoverable centered highlight">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="test6" (change)="isSelected = !isSelected"/>
                                    <label for="test6"></label>
                                </th>
                                <th>Terceirizado</th>
                                <th>Função</th>
                                <th>Data de Início</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lista of listaCargosFuncionarios; let k = index">
                                <td>
                                    <div >
                                        <input type="checkbox" [checked]="isSelected" [ngModel]="isSelected"  id="{{k}}" [ngModelOptions]="{standalone: true}"/>
                                        <label for="{{k}}"></label>
                                    </div>
                                </td>
                                <td><b>{{lista.funcionario.nome}}</b></td>
                                <td>
                                    <div class="row">
                                        <div class="input-field col">
                                            <select id="funcoes_alteracao"  materialize="material_select" [materializeSelectOptions]="funcoes">
                                                <option disabled>Selecione um Terceirizado</option>
                                                <option *ngFor="let funcao of funcoes" [value]="funcao.codigo" [selected]="funcao.nome == lista.funcao.nome">{{funcao.nome}}</option>
                                            </select>
                                            <label for="funcoes_alteracao">Selecione uma nova função</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="input-field col  center-align">
                                            <input id="data_inicio_nova_funcao"  class="validate center" type="text" appMaskDate required maxlength="10" minlength="10">
                                            <label for="data_inicio_nova_funcao">Data de Início na Nova Função</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>