<div class="container">
  <h2 class="center">Cargos</h2>
  <div class="row">
      <button class="btn waves-effect" (click)="openModal()">Cadastrar Novo Cargo</button>
      <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
        <div class="modal-content">
            <app-cadastro-cargos *ngIf="render"></app-cadastro-cargos>
        </div>
          <div class="modal-footer">
              <button class="btn waves-effect left" (click)="closeModal()">Cancelar</button>
              <button class="btn waves waves-effect right" [disabled]="!cargoService.enabled">Cadastrar Cargos</button>
          </div>
      </div>
  </div>
    <div class="row">
        <table class="centered highlight z-depth-2 hoverable">
            <thead>
            <tr>
                <th>Nome do Cargo</th>
                <th>Descrição</th>
                <th>Atualizado Por...</th>
                <th>Última Atualização</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cargo of cargos">
                <td>{{cargo.nome}}</td>
                <td>{{cargo.descricao}}</td>
                <td>{{cargo.loginAtualizacao}}</td>
                <td>{{cargo.dataAtualizacao}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
