<br>
<div class="row">
    <div class="input-field col l7 offset-l2">
        <select id="selecao_contrato"materialize="material_select" [materializeSelectOptions]="contratos" >
            <option disabled>Selecione um Contrato</option>
            <option *ngFor="let contrato of contratos" [value]="contrato.codigo">{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}</option>
        </select>
        <label for="selecao_contrato">Contrato<span class="red-text"> *</span></label>
    </div>
</div>