<div class="container">
    <h2 class="center-align">Total Mensal a Reter</h2>
</div>
<div class="container calculo">
    <div class="row">
        <ul materialize="collapsible" data-collapsible="accordion" class="collapsible popout" [materializeActions]="actions1">
            <li>
                <div class="collapsible-header active" (click)="toggleCalculo()"><h3 class="center-align">Calcular</h3></div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12">
                                 <app-total-mensal-calculo *ngIf="view" (close)="onCalculated($event)"></app-total-mensal-calculo>
                            </div>
                        </div>
                 </div>
            </li>
            <li>
                <div class="collapsible-header" (click)="toggleRet()" ><h3 class="center-align">Valores Retidos</h3></div>
                <div class="collapsible-body">
                    <app-total-mensal-ret *ngIf="!view" [contratoSelecionado]="contSel"></app-total-mensal-ret>
                </div>
            </li>
        </ul>
    </div>
</div>
