<h2 class="center">Cadastrar Terceirizado(s)</h2>
<div class="container">
    <div class="row" *ngIf="!id">
            <div class="col input-field center-align l6">
                <select  materialize id="forma" materialize="material_select" [ngModel]="opcao" (change)="onChange($event.target.value)">
                    <option disabled>Selecione</option>
                    <option value="1">Manualmente</option>
                    <option value="2">Através de planilha</option>
                </select>
                <label for="forma">Selecione uma forma de cadastro</label>
            </div>
    </div>
    <br>
    <div class="row" *ngIf="opcao && opcao == 1">
        <form  materialize class="col s12" [formGroup]="terceirizadoForm">
            <div formArrayName="terceirizados">
                <div materialize *ngFor="let terceirizado of terceirizados.controls; let i = index" [formGroupName]="i">
                    <div class="row">
                        <div class="col l12 panel-content darken-1">
                            <div class=" row titulo-modal">
                                <h6 class="white-text center-align ">Terceirizado {{i + 1}} <a *ngIf="terceirizadoForm.get('terceirizados').value.length > 1" class="black-text" (click)="removeTerceirizado(i)"><i class="material-icons right">close</i></a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col input-field l6 center">
                            <label for="nome">Nome</label>
                            <input placeholder="Digite um Nome" id="nome"  formControlName="nomeTerceirizado" type="text" class="validate" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col input-field l6 center" >
                            <label for="cpf">CPF</label>
                            <input id="cpf" placeholder="Digite o CPF" type="text"  formControlName="cpf" class="validate" appKzMask="999.999.999-99" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col input-field l2 center">
                            <select materialize="material_select" formControlName="ativo" id="selecao">
                                <option disabled>Selecione</option>
                                <option value="S">SIM</option>
                                <option value="N">NÃO</option>
                            </select>
                            <label for="selecao">Ativo</label>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn waves-effect btn-floating" (click)="adicionaTerceirizadoForm()"><i class="material-icons">add</i></button>
        </form>
    </div>
    <div class="row" *ngIf="opcao == 2">
        <div class="row">
            <span>Baixe a seguinte planilha <a href="/assets/sheets/modelo-cadastro-terceirizados.xlsx" download>aqui</a>, preencha-a e a envie preenchida pelo campo abaixo: </span>
            <form>
                <div class="file-field input-field">
                    <button class="btn waves-effect" >
                        <span>File</span>
                        <input type="file"  accept=".xlsx" (change)="sobeArquivo($event)">
                    </button>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                        <button class="btn waves-effect right" (click)="uploadData()" [disabled]="buttonDisabled" >Enviar planilha</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="opcao == 1">
        <div class="center-align">
            <button class="btn waves-effect" [disabled]="!terceirizadoForm.valid" (click)="cadastroTerceirizado()">Cadastrar</button>
        </div>
    </div>
</div>
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4 class="center">Ok</h4>
        <h5 class="bold">Terceirizado cadastrado com sucesso !</h5>
        <p>Deseja cadastrar mais usuários ?</p>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-green btn-flat" (click)="closeModal()">Sim</button>
        <button class="modal-action modal-close waves-effect waves-green btn-flat" [routerLink]="['/terceirizados']">Não</button>
    </div>
</div>
<div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions2">
    <div class="modal-content">
        <h4 class="center">ATENÇÃO</h4>
        <h5 class="bold">Ocorreu um erro ao tentar cadastrar o(s) Terceirizado(s) !</h5>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-green btn-flat btn" (click)="closeModal2()">Ok</button>
    </div>
</div>
<div class="container" *ngIf="id">
    <!--<div class="row">
        <button class="btn right">Apagar Terceirizado</button>
    </div> -->

    <form [formGroup]="editaTerceirizadoForm">
        <div class="row">
            <div class="col input-field l6 center">
                <label for="nome-edicao">Nome</label>
                <input placeholder="Digite um Nome" id="nome-edicao"  formControlName="nomeTerceirizado" type="text" class="validate" required>
            </div>
        </div>
        <div class="row">
            <div class="col input-field l6 center" >
                <label for="cpf-edicao">CPF</label>
                <input id="cpf-edicao" placeholder="Digite o CPF" type="text"  formControlName="cpf" class="validate"  required>
            </div>
        </div>
        <div class="row">
            <div class="col input-field l2 center">
                <select materialize="material_select" formControlName="ativo" id="selecao-edicao">
                    <option disabled>Selecione</option>
                    <option value="S">SIM</option>
                    <option value="N">NÃO</option>
                </select>
                <label for="selecao-edicao">Ativo</label>
            </div>
        </div>
    </form>
    <button class="btn left">Voltar</button>
    <button class="btn right">Salvar</button>
</div>