table.highlight tbody tr:hover {
  background-color: #9e9e9e;
  cursor: default;
}
div  .collapsible-header {
  background-color: #212121 ;
}
ul .collapsible {
  background-color: #212121 ;
}#cargos-funcionarios {
  background-color: #212121 ;
 }
 table {
   background-color: #eeeeee;
 }
