<br>
<div class="row">
    <div class="input-field col l7 offset-l2">
        <select id="selecao_contrato"materialize="material_select" [materializeSelectOptions]="contratos" (change)="defineCodigoContrato($event.target.value)">
            <option disabled>Selecione um Contrato</option>
            <option *ngFor="let contrato of contratos" [value]="contrato.codigo">{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}</option>
        </select>
        <label for="selecao_contrato">Contrato<span class="red-text"> *</span></label>
    </div>
    <div class="input-field col l4 offset-l2">
        <select id="selecao_tipo_restituicao" materialize="material_select" (change)="defineTipoMovimentacao($event.target.value)">
            <option disabled selected>Selecione o tipo de restituição</option>
            <option value="RESGATE">Resgate</option>
            <option value="MOVIMENTACAO">Movimentação</option>
        </select>
        <label for="selecao_tipo_restituicao">Tipo de Restituição<span class="red-text"> *</span></label>
    </div>
</div>
<form [formGroup]="feriasForm" *ngIf="terceirizados && (tipoRestituicao == 'MOVIMENTACAO')" >
    <div formArrayName="calcularTerceirizados">
        <table class="highlight centered responsive-table hoverable">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="test5" (change)="isSelected = !isSelected"/>
                        <label for="test5"></label>
                    </th>
                    <th>Terceirizados</th>
                    <th>Proporcional</th>
                    <th>Início do Período Aquisitivo</th>
                    <th>Fim do Período Aquisititvo</th>
                    <th>Início do Ususfruto</th>
                    <th>Fim do Usufruto</th>
                    <th>Dias Vendidos</th>
                    <th *ngIf="vmsm">Valor Disponível</th>
                    <th class="grey-text">Valor Movimentado</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let terceirizado of terceirizados; let i = index">
                    <td>
                        <div [formGroupName]="i">
                            <input type="checkbox" [checked]="isSelected" [ngModel]="isSelected" formControlName="selected" id="{{i}}"/>
                            <label for="{{i}}"></label>
                        </div>
                    </td>
                    <td>{{terceirizado.nomeTerceirizado}}</td>
                    <td>
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select materialize="material_select" formControlName="proporcional">
                                        <option value="N">Não</option>
                                        <option value="S">Sim</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{terceirizado.inicioPeriodoAquisitivo | date: 'shortDate'}}</td>
                    <td>{{terceirizado.fimPeriodoAquisitivo | date:'shortDate'}}</td>
                    <td>
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate formControlName="inicioFerias" maxlength="10" required>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="input-field col s12 ">
                                    <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate formControlName="fimFerias" maxlength="10" required>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="number" placeholder="Exemplo: 0" class="validate" formControlName="diasVendidos" min="0" max="10" required>
                                </div>
                            </div>
                        </div>
                    </td>
                  <td *ngIf="vmsm && terceirizado.valorRestituicaoFerias">
                      {{terceirizado.valorRestituicaoFerias.valorFerias + terceirizado.valorRestituicaoFerias.valorTercoConstitucional | currency:'BRL':true:'1.2-2'}}</td>
                    <td>
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" class="validate" formControlName="valorMovimentado" (keyup)="verificaFormulario()" currencyMask
                                           [options]="{prefix: 'R$', thousands: '.', decimal: ',', allowNegative: 'false'}" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br>
<div class="container">
    <div class="row" *ngIf="terceirizados && tipoRestituicao">
        <div class="center-align">
            <button class="btn waves-effect" (click)="verificaDadosFormulario()" type="submit">Calcular</button>
        </div>
    </div>
</div>

<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <br>
        <h5 class=" center">No mínimo uma pessoa deve ser selecionada para se realizar o cálculo !</h5>
    </div>
    <div class="modal-footer">
        <div class="col center-align center">
            <div class="center">
                <button class="btn waves-effect center button-center"  (click)="closeModal1()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions2">
        <div class="modal-content">
            <h4 class="center">Atenção</h4>
            <h5 class=" center">Preencha os campos adequadamente</h5>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col center-align">
                    <button class="modal-close waves-effect waves-green btn-flat center button-center" (click)="closeModal2()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal3" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions3">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <h5>Deseja Confirmar o cálculo realizado ?</h5>
        <p>Obs.: Esta ação não poderá ser desfeita futuramente *</p>
    </div>
    <div class="modal-footer">
        <div class="center-align">
            <button class="modal-close waves-effect waves-green btn-flat right" (click)="closeModal3()">Confirmar</button>
            <button class="modal-close waves-effect waves-green btn-flat left" (click)="closeModal3()">Cancelar</button>
        </div>
    </div>
</div>