<div class="container">
    <h2 class="center">Férias</h2>
    <div class="row">
        <br>
        <div class="col s12">
            <ul class="tabs tabs-fixed-width" materialize="tabs">
                <li class="tab col s3 text-grey text-darken-1"><a href="#test1">Retenções</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a class="active" href="#test2">Calcular</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a href="#test1">Cálculos Pendentes de Aprovação</a></li>
                <div class="indicator blue lighten-3" style="z-index: 1;"></div>
            </ul>
        </div>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12"><app-calculo-ferias-component></app-calculo-ferias-component></div>
    </div>
</div>