<div class="container">
    <h2 class="center">Cadastar Ajuste</h2>
    <div class="row">
        <h4 class="left-align">Contrato</h4>
        <select materialize="material_select" [materializeSelectOptions]="contratos" (change)="enableField($event.target.value)">
            <option disabled>Selecione um Contrato</option>
            <option *ngFor="let contrato of contratos" [value]="contrato.codigo">{{contrato.nomeDaEmpresa}} - Contrato Nº: {{contrato.numeroDoContrato}}/{{contrato.anoDoContrato}}</option>
        </select>
    </div>
</div>
<div class="container" >
    <app-cadastro-ajuste-form-component *ngIf="field" [contrato]="contrato" [nomeGestorContrato]="nomeGestorContrato" [percentuaisDecimoTerceiro]="percentualDecimoTerceiro"
                                        [percentuaisFerias]="percentuaisFerias" [cargosCadastrados]="cargosCadastrados" [convencoesColetivas]="convencoesColetivas" [usuarios]="usuarios"

    ></app-cadastro-ajuste-form-component>
</div>